opentelemetry-api @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=opentelemetry-api
opentelemetry-sdk @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=opentelemetry-sdk
opentelemetry-semantic-conventions @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=opentelemetry-semantic-conventions
opentelemetry-proto @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=opentelemetry-proto
opentelemetry-exporter-otlp @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=exporter/opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=exporter/opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=exporter/opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http @ git+https://github.com/open-telemetry/opentelemetry-python.git@f15821fe272707930caab57c0e906bdb0d04074f#subdirectory=exporter/opentelemetry-exporter-otlp-proto-http
